// Colors
$color-accent: #3E0A38 !default
$color-text: #3E0A38 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #F2F2F2 !default
$color-background: #F7F2E8 !default
$color-light-green: #D6F3B2
$color-green: #CBE191
$color-white: #fff

$body-color: $color-text !default
$body-background-color: $color-background !default

$header-background: #F3F9D2
$header-border-bottom-width: 0
$hero-background-color: $color-background

$footer-color: $color-background !default
$footer-background-color: $color-accent

// Call to action
$cta-background-color: #758491

// Fonts
$heading-font-family: "Bricolage Grotesque", sans-serif
$body-font-family: "Instrument Sans", sans-serif

// Posts
$posts-featured-background: $color-accent
$posts-card-background: $color-green
