// Index pages of posts, events, files and pages
.posts__section, .events__section, .files__section, .pages__section
  .hero
    background: $color-background

    .content, .hero-text
      width: 100%
      text-align: center

    .hero-text
      margin-inline: auto
      max-width: 50rem
